doctype html
-let animeTitle = user_choice
-let c = choice
head
    link(rel='stylesheet', type='text/css', href='/response.css')
    title Response to User Choice for Anime Quiz 2024
#Header
    if c
        h1#title.header Thank you for choosing #{animeTitle}
        img(src="https://steamuserimages-a.akamaihd.net/ugc/798670388549562199/3982D0F4C43E2704482AA4727ED03D8CAC5360DB/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false", alt="Hanekawa")
    else 
        h1#title.header You either need to choose an anime or are trying to resubmit. Sorry but that isn't permitted in order to reduce spam.
        img(src="https://i.pinimg.com/originals/2a/0a/2a/2a0a2a1021e29f96173e35bc17f5b326.gif", alt="Vtuber")
    
script(src='response.js')