:root {
    --primary_button_colour: rgb(136, 127, 148);
    --background_button_colour: rgb(170, 155, 190);
    --border-colour: #9c9595;
    --top_of_page: rgb(225, 218, 236);
}

* {
    box-sizing: border-box;  
}

body {
    background-color: rgb(185, 179, 194);
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 1.055em;
    color: whitesmoke;
}

.form_div {
    height: 100%;
    width: 100%;
    border: 2px solid var(--border-colour);
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    /*Very important to separate the bullet points*/
    display: block;
    margin: 0.5rem 0;
    text-align: left;

    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 75%;

    border: 2px solid var(--top_of_page);
    border-radius: 25px 25px;
}

label:hover {
    background-color: var(--background_button_colour);
    
    
    background-color: var(--background_button_colour);
    
}

.options {
    position: absolute;
    left: -9999px;
    &:checked + span {
        background-color: mix(#fff, var(--primary_button_colour), 84%);
        &:before {
            box-shadow: inset 0 0 0 0.4375em var(--primary_button_colour);
        }
    }
}

span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
    &:hover {
        background-color: mix(#fff, var(--primary_button_colour), 84%);
    }
    &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em var(--primary_button_colour);
    }
}

#submit_btn {
    margin-top: 5%;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 2%;

    
}

.rounded {
    border-top: 3px solid var(--border-colour);
    
}

h1 {
    border: 2px solid var(--top_of_page);
    background-image: linear-gradient(45deg, rgb(136, 127, 148) ,var(--top_of_page));
}